@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{

--fonte1:'Poppins', sans-serif;
}



h1,h2 {

    font-weight: bold;
    color: rgb(102, 15, 32);
    

}

body,html{


margin: 0;
padding: 0;
color: black;
font-family:var(--fonte1);
word-wrap: break-word;
overflow-wrap: break-word;
}

.normal{


width: 100%;
margin: 0 auto;
}

main{

    display: block;
    background-color: white;
    margin: auto;
}

.content1{

width: 100%;
max-width: 760px;
margin: 0 auto;
padding:  0 23px;
}

section.conteudo p{

margin-bottom: 40px;
font-size: calc(1em+3vw);
margin: auto;

}

section.conteudo:last-child{


margin-bottom: 0;

}

section.conteudo h2{

margin-bottom: 40px;
font-size: 30px;
font-weight: bold;
}

section.conteudo.module{

padding: 40px 0;
background-image: linear-gradient(to right,#E39184,#eedcd9);
}

section.conteudo.paralax{

display: flex;
flex-direction: column;
justify-content: center;
height: 100vh!important;
width: 100%;
position: relative;
overflow: hidden;
background-position: 50% 50%;
}


section.conteudo.paralax:after{

content: "";
height: 100%;
width: 100%;
position: absolute;
z-index: 8;
background:linear-gradient(to bottom,rgba(0,0,0,0)0, rgba(0,0,0,0)40%,#000 100%);




}


section.conteudo.paralax1{

 background-image: url('imagens/dbz1.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 -webkit-background-size:cover;
 -moz-background-size:cover;
}

section.conteudo.paralax2{

    background-image: url('imagens/kimetsu.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;

}


section.conteudo.paralax3{

    background-image: url('imagens/SNK.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    
    }


   

    section.conteudo h1{

        color: white;
        text-align: center;
        font-size: 80px;
        z-index: 50;
        text-transform: uppercase;


    }


    footer{

        
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
        
        }

        a{

            color: rgb(143, 29, 114);
            text-decoration: none;
            font-weight: bolder;
            }
            
            a:hover{
            
            text-decoration: underline;
            
            }